body {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 59px;
}

.h1, h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #EE0A49;
}
.h3, h3 {
    font-size: 1.5rem;
}

.yellow {
    color: #ffe500;
}
.nav-item {
    margin-left: 30px;
    font-weight: normal;
    font-size: 18px;
    color: #615e62;
}
.hero-image {
    background-image: url(../img/espiral.png);
    background-position: 65% bottom;
    background-repeat: no-repeat;
    background-size: 350px;
    background-color: #2A7885;
    min-height: 240px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-emalca {
    /*max-width: 100%;*/
    /*height: auto;*/
    width: 600px;
}

.hero-text {
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
}

.hero-text h1 {
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.hero-text h2 {
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.hero-text h4 {
    font-size: 20px;
    color: #F5F5F5;
}

#plato {
    position: absolute;
    height: 240px;
    /*opacity: 0.92;*/
    margin-left: 55%;
    bottom: 0;
    /*box-sizing:border-box;*/
}

.presentacion p {
    font-size: 1.2rem;
}

#registro {
    /*background: #004188;*/
    /*background-image: url(../img/banner2.jpg);*/
    /*background-position: 70% bottom;*/
    /*background-repeat: no-repeat;*/
    background-size: 350px;
    background-color:  #2A7885;
    padding-top: 40px;
    padding-bottom: 40px;
}

.registro h1 {
    color: #F5F5F5;
    margin-top: 10px;
}

.registro h3 {
    color: #F5F5F5;
    margin-top: .75rem;
    margin-bottom: 1px;
}

.registro p {
    color:  #b4e6ff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.cursos .lead {
    font-size: 1.5rem;
}

.cursos h3 {
    color: #333333;
}

.cursos .curso-titulo {
    color: white;
}

.fisico-matematicas {
    padding: 20px;
    background: #2DD0E3;
}

.fisico-matematicas-color {
    color: white;
}

.geometria-grupos {
    padding: 20px;
    background: #EE0A49;
    color: white;
}

.geometria-grupos-color {
    color: #fffff;
}

.temas-generales {
    padding: 20px;
    background: #0F7D8A;
    color: white;
}

.temas-generales-color {
    color: #fffff;
}

.cursos .titulo {
    margin-top: 1.75rem;
    margin-bottom: 1px;
}

.cursos p {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

#programa {
    /*background-image: url(../img/banner3.png);*/
    /*background-position: 80% bottom;*/
    /*background-repeat: no-repeat;*/
    background-size: 350px;
    background-color: #92bfc5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.badge-fm {
    color: black;
    background-color: #2DD0E3;
}

.badge-gg {
    color: white;
    background-color: #EE0A49;
}

.badge-tg {
    color: white;
    background-color: #0F7D8A;
}

.programa h1 {
    margin-top: 10px;
    color: #ee2c48;
}

.programa h3 {
    color: black;
    margin-top: .75rem;
    margin-bottom: 1px;
}

.programa p {
    color: #13708e;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.programa .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #004f9e;
    background-color: #a5bbe4;
    border-color: #495057 #495057 #495057;
    font-size: 1.2rem;
}

.programa .table td, .table th {
    border-top: 1px solid #127d8a;
}

#organizadores {
    /*background-image: url(../img/banner3.png);*/
    /*background-position: 80% bottom;*/
    /*background-repeat: no-repeat;*/
    background-size: 350px;
    background-color: #245195;
    padding-top: 40px;
    padding-bottom: 40px;
}

.organizadores h1 {
    margin-top: 10px;
    color: #50d1e3;
}

.organizadores h3 {
    color: white;
    font-size: 1.75rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.organizadores p {
    color: #6bc8e6;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hotel {
    font-size: 1rem !important;
}

/*.bg-dark {*/
/*    background-color: #000000!important;*/
/*}*/

.footer {
    margin-top: 20px;
    background-color: #343a40!important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-footer {
    margin-left: 25px;
    margin-top: 20px;
}

.logo-container {
    display:inline-block!important;
    justify-content:left!important;
}

.card-body p {
    font-size: 1.1rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

    body {
        margin-top: 56px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .logo-emalca {
        /*max-width: 100%;*/
        /*height: auto;*/
        width: 100%;
    }

    .presentacion p {
        font-size: 1.1rem;
    }

    .logo-footer {
        margin-left: 0;
        margin-top: 25px;
    }

    .logo-container {
        display:flex!important;
        justify-content:center!important;
    }
}

/* iPhone 11 */
/* 1792x828px at 326ppi */
/*@media only screen {*/
/*    and (device-width: 414px)*/
/*    and (device-height: 896px)*/
/*    and (-webkit-device-pixel-ratio: 2) { }*/
/*}*/
